div.bread_crumb_trail {
/*	background: url(../images/layout/gray_bar_horizontal.png) repeat-x;*/
}

div.bread_crumb_trail {
	height: 26px;
	padding: 0px;
	overflow: hidden;
	
	vertical-align: middle;
	text-align: left;
	
	font: 8pt "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; 
	color: #555;
}

div.bread_crumb_start {
	display: inline-block;
	width: 1px;
	height: 26px;
	line-height: 26px;
	margin: 0px;
	padding: 0px 5px;
	background-color: #d9d9d9;
	vertical-align: middle;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.bread_crumb {
	display: inline-block;
	width: auto;
	height: 26px;
	line-height: 26px;
	margin: 0px;
	padding: 0px 5px;
	background-color: #d9d9d9;
	vertical-align: middle;
	text-transform: capitalize;	
}

div.bread_crumb_last {
	display: inline-block;
	width: auto;
	height: 26px;
	line-height: 26px;
	margin: 0px;
	padding: 0px 5px;
	background-color: #dde6ec;
	vertical-align: middle;
	text-transform: capitalize;	
}
/*
div.crumb_tools {
	display: inline;
	float: right;
	margin: 0px;
	padding: 4px 6px 4px 2px;
	vertical-align: middle;
}*/

a.bread_crumb_link:link, a.bread_crumb_link:visited, a.bread_crumb_link:active {
	margin: 0px;
	padding: 0px;
	color: black;
	vertical-align: top;
	text-decoration: none;	
}	
a.bread_crumb_link:hover {
	text-decoration: none;
}

img.bread_crumb_icon {
	vertical-align: top;
	border: 0px;
	margin: 5px 2px;
	padding: 0px;
	
	width: 16px;
	height: 16px;
}

img.bread_crumb_chevron {
	vertical-align: middle;

	border: 0px;
	margin: 0px;
	padding: 0px;
}